<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> </mat-panel-title>
      <mat-panel-description> לחץ כאן למילוי פרטי הורה </mat-panel-description>
    </mat-expansion-panel-header>
    <form (ngSubmit)="saveUser()" #myForm="ngForm">
      <mat-form-field class="example-full-width">
        <mat-label>שם פרטי שדה חובה אותיות בלבד</mat-label>
        <input
          type="text"
          name="firstName"
          [(ngModel)]="userService.user.FirstName"
          required
          pattern="[A-Za-zא-ת]+"
          matInput
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>שם משפחה שדה חובה אותיות בלבד</mat-label>
        <input
          type="text"
          name="lastName"
          [(ngModel)]="userService.user.LastName"
          required
          pattern="[A-Za-zא-ת]+"
          matInput
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>תעודת זהות שדה חובה 9 ספרות בדיוק</mat-label>
        <input
          pattern="[0-9]+"
          type="text"
          name="id"
          [(ngModel)]="userService.user.ParentId"
          required
          minlength="9"
          maxlength="9"
          matInput
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>תאריך לידה שדה חובה</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          name="birthDate"
          [(ngModel)]="userService.user.BirthDate"
          required
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>מין שדה חובה</mat-label>
        <mat-select
          id="genderType"
          name="genderType"
          [(ngModel)]="userService.user.GenderType"
          required
        >
          <mat-option *ngFor="let x of genderArr" [value]="x.id"
            >{{ x.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>קופת חולים שדה חובה</mat-label>
        <mat-select
          id="hmoType"
          name="hmoType"
          [(ngModel)]="userService.user.HMOType"
          required
        >
          <mat-option *ngFor="let x of hmoArr" [value]="x.id"
            >{{ x.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> ילד </mat-panel-title>
          <mat-panel-description> הוספת ילד </mat-panel-description>
        </mat-expansion-panel-header>
        <p></p>
        <form
          (ngSubmit)="saveChildren(); myForm2.resetForm()"
          #myForm2="ngForm"
        >
          <mat-form-field class="example-full-width">
            <mat-label>שם פרטי שדה חובה אותיות בלבד</mat-label>
            <input
              type="text"
              name="name"
              [(ngModel)]="userService.child.Name"
              required
              pattern="[A-Za-zא-ת]+"
              matInput
            />
          </mat-form-field>

          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>תאריך לידה שדה חובה</mat-label>
            <input
              matInput
              [matDatepicker]="picker2"
              name="cBirthDate"
              [(ngModel)]="userService.child.BirthDate"
              required
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>תעודת זהות שדה חובה 9 ספרות בדיוק</mat-label>
            <input
              pattern="[0-9]+"
              type="text"
              name="id"
              [(ngModel)]="userService.child.ChildId"
              required
              minlength="9"
              maxlength="9"
              matInput
            />
          </mat-form-field>
          <input
            *ngIf="!myForm2.valid"
            disabled
            type="submit"
            value="שמירה"
            class="submit"
          />
          <input
            *ngIf="myForm2.valid"
            type="submit"
            value="שמירה"
            class="submit"
          />
        </form>
      </mat-expansion-panel>

      <input
        *ngIf="!myForm.valid"
        disabled
        type="submit"
        value="שמירה"
        class="submit"
      />
      <input *ngIf="myForm.valid" type="submit" value="שמירה" class="submit" />
    </form>
  </mat-expansion-panel>
</mat-accordion>
