<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
        </mat-panel-title>
        <mat-panel-description>
         לחץ כאן למילוי פרטי הורה
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form (ngSubmit)="saveUser()" #myForm="ngForm"  >
        <mat-form-field class="example-full-width">
          <mat-label>שם פרטי שדה חובה אותיות בלבד</mat-label>
          <input
          (ngModelChange)="saveInStorage()"
          type="text"
          name="firstName"
          [(ngModel)]="user.FirstName"
          required
          pattern="[A-Za-zא-ת]+" 
           matInput >
           
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
          
          <mat-label>שם משפחה שדה חובה אותיות בלבד</mat-label>
          <input
          (ngModelChange)="saveInStorage()"
          type="text"
          name="lastName"
          [(ngModel)]="user.LastName"
          required
           pattern="[A-Za-zא-ת]+" 
           matInput >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>תעודת זהות שדה חובה 9 ספרות בדיוק</mat-label>
          <input
          (ngModelChange)="saveInStorage()"
          pattern="[0-9]+" 
          type="text"
          name="id"
          [(ngModel)]="user.ParentId"
          required
          minlength="9"
          maxlength="9"
           matInput >
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>תאריך לידה שדה חובה</mat-label>
          <input matInput [matDatepicker]="picker"
          (ngModelChange)="saveInStorage()"
          name="birthDate"
          [(ngModel)]="user.BirthDate"
          required>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>מין שדה חובה</mat-label>
          <mat-select  id="genderType"
          name="genderType"
          (ngModelChange)="saveInStorage()"
          [(ngModel)]="user.GenderType"
          required>
            <mat-option *ngFor="let x of genderArr" [value]="x.id">{{ x.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>קופת חולים שדה חובה</mat-label>
          <mat-select     id="hmoType"
          (ngModelChange)="saveInStorage()"
          name="hmoType"
          [(ngModel)]="user.HMOType"
          required>
            <mat-option *ngFor="let x of hmoArr" [value]="x.id">{{ x.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                ילד
              </mat-panel-title>
              <mat-panel-description>
                הוספת ילד
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>
                <form  (ngSubmit)="saveChildren();myForm2.resetForm()" #myForm2="ngForm">
                    <mat-form-field class="example-full-width">
                      <mat-label>שם פרטי שדה חובה אותיות בלבד</mat-label>
                        <input
                        (ngModelChange)="saveInStorage()"
                        type="text"
                        name="name"
                        [(ngModel)]="child.Name"
                        required
                        pattern="[A-Za-zא-ת]+" 
                         matInput >
                      </mat-form-field>
 
                      <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>תאריך לידה שדה חובה</mat-label>
                        <input matInput [matDatepicker]="picker1"
                        (ngModelChange)="saveInStorage()"
                        type="date"
                        name="birthDate"
                        [(ngModel)]="child.BirthDate"
                        required>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>

                 
                      <mat-form-field class="example-full-width">
                        <mat-label>תעודת זהות שדה חובה 9 ספרות בדיוק</mat-label>
                        <input
                        (ngModelChange)="saveInStorage()"
                        pattern="[0-9]+" 
                        type="text"
                        name="id"
                        [(ngModel)]="child.ChildId"
                        required
                        minlength="9"
                        maxlength="9"
                         matInput>
                      </mat-form-field>
                    <input *ngIf="!myForm2.valid" disabled type="submit" value="שמירה" class="submit"/>
                    <input *ngIf="myForm2.valid" type="submit" value="שמירה" class="submit"/>
                  </form>
           
          </mat-expansion-panel>
   
        <input *ngIf="!myForm.valid" disabled type="submit" value="שמירה"  class="submit"/>
        <input *ngIf="myForm.valid" type="submit" value="שמירה"  class="submit"/>
      </form>
      
    </mat-expansion-panel>

